*
    box-sizing: border-box
h1 
    margin: 0
body
    margin: 0
    .content
        width: 975px
    header
        .header-top
            background-color: #4B5A65;
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            h1
                color: white
                font-size: 31
                font-family: 'Montserrat'
                font-style: regular
            nav 
                display: flex
                list-style: none
                color: white
                ul
                    li 
                        width: 76
                        
                        
                        
                        
                        
