.blog
    .blog-text
        span XX MMMM YYYY
        .h3-href
            a(href="full_blog_1.html")
                h3 ПОЧЕМУ В СПОРТЕ ВАЖНО ДУМАТЬ
        h3 ПОЧЕМУ В СПОРТЕ ВАЖНО ДУМАТЬ
        p Помимо тяжелой «пахоты»️, необходимо все время проводить много аналитики, чтобы эффективно планировать подготовку, соревновательный сезон, подведение к пику формы...

        a(href="full_blog_1.html")
            .read-more ЧИТАТЬ БОЛЬШЕ
            .read-more-arrow
    .blog-img
        img(src="static\\img\\png\\blog-2.png", alt="Blog-img")