.blog-1
                .blog-1-text
                    span XX MMMM YYYY
                    h3 ВОССТАНОВЛЕНИЕ ОРГАНИЗМА
                    p В практической работе с любителями бега я часто вижу, что время на тренировки они находят, а вот восстановлением организма, таким как: массаж, баня, бассейн...

                    a(href="full_blog_3.html")
                        .read-more ЧИТАТЬ БОЛЬШЕ
                        .read-more-arrow
                .blog-1-img
                    img(src="static\\img\\png\\slider-item.png", alt="")