.blog-buttons
                ul
                    a(href="#")
                        li 
                            .prev
                                .prev-arrow
                    a(href="#")
                        li 
                            .page-i 
                                .page-number 1
                    a(href="#")
                        li 
                            .page-i 
                                .page-number 2
                    a(href="#")
                        li 
                            .next
                                .next-arrow