.blog-3
                .blog-3-text
                    span XX MMMM YYYY
                    h3 ПОЧЕМУ В СПОРТЕ ВАЖНО ДУМАТЬ
                    p Помимо тяжелой «пахоты»️, необходимо все время проводить много аналитики, чтобы эффективно планировать подготовку, соревновательный сезон, подведение к пику формы...

                    a(href="#")
                        .read-more ЧИТАТЬ БОЛЬШЕ
                        .read-more-arrow
                .blog-3-img
                    img(src="static\\img\\png\\blog-3.png", alt="")