.blog-3
                .blog-3-text
                    span XX MMMM YYYY
                    h3 КАК Я ПРИШЛА В СПОРТ. Часть 1
                    p В детстве я была очень подвижным ребенком. Целыми днями мы бегали с друзьями на улице, играли в разные игры, перепрыгивали с крыши на крышу гаражей через большие...

                    a(href="full_blog_2.html")
                        .read-more ЧИТАТЬ БОЛЬШЕ
                        .read-more-arrow
                .blog-3-img
                    img(src="static\\img\\png\\blog-3.png", alt="")