.slider-blog
                .slider
                    .slider-item
                        .slider-item-link
                            h4 ВОССТАНОВЛЕНИЕ ОРГАНИЗМА
                            a(href="#")
                                .read-more ЧИТАТЬ БОЛЬШЕ
                                .read-more-arrow
                        img(src="static\\img\\png\\slider-item.png", alt="")
                    .slider-item
                    .slider-item
                .slider-social
                    h3 БУДЬТЕ С НАМИ НА СВЯЗИ
                    .slider-social-contact
                        a(href="https://www.instagram.com/iryna_lishchynska/" target='_blank')
                            .slider-social-inst
                            .slider-social-helper.inst Instagram
                        a(href="https://www.facebook.com/irinka.lesch" target='_blank')   
                            .slider-social-facebook
                            .slider-social-helper.face Facebook
                        a(href="mailto:irynaweek@gmail.com" target='_blank')
                            .slider-social-mail
                            .slider-social-helper.mail E-mail