.slider-blog
    .slider
        .slide__button.button_left
            .button-text-left
        .slide__button.button_right
            .button-text-right
        ul.navButtonWrap
            li.navButtonWrap__item.navButtonWrap__item--active 0
            li.navButtonWrap__item 1
            li.navButtonWrap__item 2
        .single-item
            .newSlider__item    
                .slider-item-link
                    h4 ВОССТАНОВЛЕНИЕ ОРГАНИЗМА
                    a(href="full_blog_3.html")
                        .read-more Читать больше
                        .read-more-arrow
                img(src="static\\img\\png\\slider-item.png", alt="")
            .newSlider__item    
                .slider-item-link
                    h4 Почему в спорте важно думать 
                    a(href="full_blog_1.html")
                        .read-more Читать больше
                        .read-more-arrow
                img(src="static\\img\\png\\blog-2.png", alt="")
            .newSlider__item    
                .slider-item-link
                    h4 КАК Я ПРИШЛА В СПОРТ. Часть 1
                    a(href="full_blog_1.html")
                        .read-more Читать больше
                        .read-more-arrow
                img(src="static\\img\\png\\blog-3.png", alt="")

    .slider-social
        h3 Будьте с нами на связи
        .slider-social-contact
            a(href="https://www.instagram.com/iryna_lishchynska/" target="_blank")
                .slider-social-inst
                .slider-social-helper.inst Instagram
            a(href="https://www.facebook.com/irinka.lesch" target="_blank")
                .slider-social-facebook
                .slider-social-helper.face Facebook
            a(href="mailto:irynaweek@gmail.com" target="_blank")
                .slider-social-mail
                .slider-social-helper.mail E-mail