.about(id="about")
                h2 О себе
                .olimpic
                    .olimpic-ico
                    .olimpic-text Серебряный призер Олимпийских Игр 2008 в беге на 1500м.<br> Серебряный призер Чемпионата Мира 2007.
                .hands
                    .hands-ico
                    .hands-text Мама двух дочерей.
                .run
                    .run-ico
                    .run-text Профессиональный тренер.<br> Спортивный директор в компании Run Ukraine.<br> Вице-президент ОО Украинская Федерация “Здоровый образ жизни”.
                .idea
                    .idea-ico
                    .idea-text Основатель проекта IrynaWeek.