doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\blog.css")
    body
        include includes/index/header.pug
        article
            h2 Блог
            
            include includes/blog/slider-blog.pug
            
            .posts-middle-line(id="first-mid-line")

            .blogs-content

                include includes/blog/blog-1.pug

                .posts-middle-line

                include includes/blog/blog-2.pug

                .posts-middle-line

                include includes/blog/blog-3.pug
                
                include includes/blog/blog-buttons.pug  

        include includes/index/footer.pug

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
    script(src="static\\js\\scripts\\slick\\slick.min.js")
    script(src="static\\js\\scripts\\script.js")