doctype html
html(lang="ru")
    head
        title irynaweek.com
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\full_blog_1.css")
    body
        include includes/index/header.pug

        article
            .button
                .button__text 
                
            .blog_head
                h1 БЛОГ // ПОЧЕМУ В СПОРТЕ ВАЖНО ДУМАТЬ.
                .blog_section
                    figure.image
                        img(src="static\\img\\png\\blog-2.png", alt="Blog-img")
                    .blog-social
                        .date 14 июля 2019
                        .text БУДЬТЕ С НАМИ НА СВЯЗИ
                        .blog-social-contact
                            a(href="https://www.instagram.com/iryna_lishchynska/" target='_blank')
                                .blog-social-inst
                                .blog-social-helper.inst Instagram
                            a(href="https://www.facebook.com/irinka.lesch" target='_blank')   
                                .blog-social-facebook
                                .blog-social-helper.face Facebook
                            a(href="mailto:irynaweek@gmail.com" target='_blank')
                                .blog-social-mail
                                .blog-social-helper.mail E-mail
            .blog-middle
                h2 Для каждого спортсмена очень важно всегда думать головой и много анализировать. Глупые люди в большом спорте не добиваются успехов.
                p Помимо тяжелой «пахоты»️, необходимо все время проводить много аналитики, чтобы эффективно планировать подготовку, соревновательный сезон, подведение к пику формы, уметь чувствовать себя, свое тело, темп бега, различать уровни боли, заниматься саморазвитием и восстановлением, разбираться в новинках и новых технологиях. Важно в первую очередь знать себя, знать кто я такой и какой я. И каждый день поднимать себя но новую ступеньку. Необходимо много изучать и думать. Необходимо знать себя и своих соперников на основных и смежных дистанциях.<br><br>Перед каждым предстоящим соревнованием, с одной стороны, идет анализ и разбор сильных и слабых сторон соперников, их психотип, его собственный «фирменный почерк» спортсмена, а также их уровень готовности в данном сезоне. С другой стороны, ведется постоянный анализ собственной физической формы, психологической устойчивости, уровня здоровья и всех нюансов. 
                figure.image
                    img(src="static\\img\\png\\pic1-inside-blog-1.png", alt="Photo")
                    figcaption Чемпионат мира 2007, Осака

                p Я всегда мониторила все соревнования. Мне было важно видеть как выступают мои соперники, как они ведут бег по дистанции по скорости, интенсивности, тактике. Какие применяли формы ведения бега и как финишировали, за сколько начинали финишный спурт. Это все информация, которую я использовала во время соревнований. Я знала от кого что можно ожидать, чтобы максимально использовать мои сильные качества и не дать соперницам воспользоваться своими. Даже когда спортсмен с тренером разбирают как может сложиться бег, действовать и брать ответственность за ведение бега и результат нужно только на себя. На соревнованиях ты один на один с собой, соперниками и временем и все зависит только от тебя. И чаще всего идет борьба с собой и секундомером, а не с соперниками, хотя и с ними тоже. Нужно уметь терпеть и вести бег до конца не смотря, что очень ужасно тяжело, кажется что уже не можешь, нет сил, испытываешь жуткую боль….в такие моменты и проявляется характер. Сдашься ты или нет…..сможешь посмотреть всему этому в лицо и преодолеть, переступить этот Рубикон….<br><br>Бывает тренер скажет тебе придерживаться выбранной тактики, а ты во время бега на соревнованиях чувствуешь, что нужно поступить по другому, рискнуть, побежать быстро раньше или применить другие тактические приемы. Потому что твоя интуиция и чувство бега дают такую уверенность, которая оправдывается и приводит к победе. А возможно не все сразу получится. И главное разобрать почему так произошло, почему получилось или нет. Главное не бояться, действовать, иметь смелость заглянуть за горизонт.<br><br>Успех любит смелых!
        
        include includes/index/footer.pug
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
    script(src="static\\js\\slick\\slick.min.js")
    script(src="static\\js\\script.js")