doctype html
html(lang="ru")
    head
        title irynaweek.com
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="static\\css\\main.css")
        link(rel="stylesheet", href="static\\css\\full_blog_1.css")
    body
        include includes/index/header.pug

        article
            .button
                .button__text 

            .blog_head
                h1 БЛОГ // ВАЖНОСТЬ ВОССТАНОВЛЕНИЯ. МАССАЖ
                .blog_section
                    figure.image
                        img(src="static\\img\\png\\slider-item.png", alt="Blog-img")
                    .blog-social
                        .date 14 июля 2019
                        .text БУДЬТЕ С НАМИ НА СВЯЗИ
                        .blog-social-contact
                            a(href="https://www.instagram.com/iryna_lishchynska/" target='_blank')
                                .blog-social-inst
                                .blog-social-helper.inst Instagram
                            a(href="https://www.facebook.com/irinka.lesch" target='_blank')   
                                .blog-social-facebook
                                .blog-social-helper.face Facebook
                            a(href="mailto:irynaweek@gmail.com" target='_blank')
                                .blog-social-mail
                                .blog-social-helper.mail E-mail

            .blog-middle
                h2 хочешь кататься, люби и саночки возить. Тренируешься - следи за восстановлением.
                p В практической работе с любителями бега я часто вижу, что время на тренировки они находят, а вот восстановлением организма, таким как: массаж, баня, бассейн, витаминизация часто пренебрегают или недооценивают их значение. Ну конечно, мы ведь всегда сильно заняты и у нас нет времени. И так может быть всю жизнь. <br><br>Мышцы подгрузились, забиты, где-то тянет или чувствуется напряжение, гипертонус.  Люди думают - а ничего, само как-то пройдет, а потом это "как-то" вдруг проявляется и наступает перенапряжение, недовосстановление и травмы. И потом уже жизнь вынуждает нас находить время и на массаж, и на врачей, и на процедуры, да и потратить денег/времени уже нужно в два раза больше, а то и вовсе пропускать тренировки.<br><br>За любой попыткой сэкономить на себе и своем здоровье - приходит расплата. Только уже с удвоенной процентной ставкой.<br><br>Даже в простой жизни очень важно регулярно снимать напряжение в теле, улучшать кровообращение в мышцах, насыщать их кислородом и жизненной энергией.<br><br>Человек думает, что раз ничего не болит, то и делать ничего не нужно. А стоит лечь на массажный стол, специалист дотронется до тела, а там работы непочатый край. Спина и мышцы каменные, все зажато и напряжено. Когда уже болит что-то, то ваше тело вам кричит: - Спасите!<br><br>Ну нет у наших людей культуры превентивных действий и заботы о себе. Обычно пока петух не клюнет. И дальше начинается "разгребание" всего, что нажито непосильным трудом.<br><br>Не только физическая нагрузка, а и эмоции отражаются и воздействуют на наше тело. Только мы этого не слышим или нам кажется, что это не так важно.<br><br>В общем, к чему это я. Рекомендую: регулярно включать в свой жизненный график качественный массаж всего тела. Не один два раза в пол года, а циклично. Хороший массаж длится 1 - 1,5 часа. И это не поглаживание тела, а довольно болезненная проработка мышц всего тела, после которого вы можете временно ощущать 

        include includes/index/footer.pug
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
    script(src="static\\js\\slick\\slick.min.js")
    script(src="static\\js\\script.js")

