footer(id="footer")
            .footer-content
                .footer-logo(id="footer_logo")
                    a(href="index.html")
                        img(src="static\\img\\png\\footer-logo.png", alt="")
                .footer-text
                    p Сайт Ирины Лищинской - призера Олимпийских Игр, Чемпионата Мира, профессионального тренера, основателя проекта IrynaWeek, спортивного директора в Run Ukraine. На сайте вы можете записаться на мероприятия, узнать больше о здоровом образе жизни, отношении к себе и своему телу.
                .footer-nav
                    ul
                        li
                            a(href="index.html") O CEБЕ
                        li
                            a(href="blog.html") БЛОГ
                        li
                            a(href="trainings.html") ТРЕНИРОВКИ
                        li
                            a(href="#" id="ivents") ИВЕНТЫ
                        li
                            a(href="#footer") КОНТАКТЫ  
                .footer-social
                    a(href="https://www.instagram.com/iryna_lishchynska/" target='_blank')
                        .footer-social-inst
                        .footer-social-helper Instagram
                    a(href="https://www.facebook.com/irinka.lesch" target='_blank')   
                        .footer-social-facebook
                        .footer-social-helper Facebook
                    a(href="mailto:irynaweek@gmail.com" target='_blank')
                        .footer-social-mail
                        .footer-social-helper E-mail