header
            div.logo 
                img(src="static\\img\\png\\logo.png", alt="")
            div.search
            nav
                ul.burger
                    li
                        a(href="index.html") O CEБЕ
                    li
                         a(href="blog.html") БЛОГ
                    li
                         a(href="#") ТРЕНИРОВКИ
                    li
                         a(href="#") ИВЕНТЫ
                    li
                         a(href="#footer") КОНТАКТЫ