header
     .hamburger
     .cross
     .logo 
          a(href="index.html") 
               img(src="static\\img\\png\\logo.png", alt="")
     .mobile_logo  
          a(href="index.html")
               img(src="static\\img\\png\\hashLogo.png" alt="IrynaWeek")
     .nav-fixed-replacer
     nav
          ul.menu
               a(href="index.html")
                    li O CEБЕ
               a(href="blog.html")      
                    li БЛОГ
               a(href="trainings.html") 
                    li ТРЕНИРОВКИ
               a(href="#" id="ivents")    
                    li ИВЕНТЫ
               a(href="#footer").contacts
                    li КОНТАКТЫ