header
     .hamburger
     .cross
     .logo 
          a(href="index.html") 
               img(src="static\\img\\png\\logo.png", alt="")
          
          a(id="mobile-logo" href="index.html")
               img(src="static\\js\\img\\logo.png" alt="IrynaWeek" class="hamburger__logo")
     .search
     nav
          ul.burger
               li
                    a(href="index.html") O CEБЕ
               li
                    a(href="blog.html") БЛОГ
               li
                    a(href="trainings.html") ТРЕНИРОВКИ
               li
                    a(href="#") ИВЕНТЫ
               li
                    a(href="#footer").contacts КОНТАКТЫ

          ul.menu
               li
                    a(href="index.html") O CEБЕ
               li
                    a(href="blog.html") БЛОГ
               li
                    a(href="trainings.html") ТРЕНИРОВКИ
               li
                    a(href="#") ИВЕНТЫ
               li
                    a(href="#footer").contacts КОНТАКТЫ