.last-in-blog
                .facebook-post
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Firinka.lesch%2Fposts%2F1342629455886601&width=500" width="500" height="671" style="border:none;overflow:hidden;background-color:white;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                h2 ПОСЛЕДНЕЕ В БЛОГЕ
                .posts
                    .post-1
                        .post-1-img 
                            img(src="static\\img\\png\\slider-item.png", alt="")
                        .post-1-text
                            h3 ВОССТАНОВЛЕНИЕ ОРГАНИЗМА
                            p В практической работе с любителями бега я часто вижу, что время на тренировки они находят, а вот восстановлением организма, таким как: массаж, баня, бассейн...
                            .blog-link
                                a(href="full_blog_3.html")
                                    .read-more ЧИТАТЬ БОЛЬШЕ
                                    .read-more-arrow
                    .posts-middle-line
                    .post-2
                        .post-2-img
                            img(src="static\\img\\png\\blog-2.png", alt="")
                        .post-2-text
                            h3 ПОЧЕМУ В СПОРТЕ ВАЖНО ДУМАТЬ
                            p Помимо тяжелой «пахоты»️, необходимо все время проводить много аналитики, чтобы эффективно планировать подготовку, соревновательный сезон, подведение к пику формы...
                            .blog-link
                                a(href="full_blog_1.html")
                                    .read-more ЧИТАТЬ БОЛЬШЕ
                                    .read-more-arrow