.about
            margin-top: 35px;
            width: 620px;
            height: 548px;
            margin-left: auto;
            margin-right: auto;
            h2
                text-align: center;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                text-transform: uppercase;
                font-size: 40px;
                margin-bottom: 30px;
            .olimpic
                position: relative;
                height: 122px;
                .olimpic-ico
                    position: absolute;
                    left: 0px;
                    width: 135px;
                    height: 100%;
                    background-image: url('../img/png/sprite.png');
                    background-position: 10px -5px;
                .olimpic-text
                    width: 503px;
                    position: absolute;
                    right: 0px;
                    padding-left: 45px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 25px;
            .hands
                position: relative;
                height: 122px;
                .hands-ico
                    position: absolute;
                    left: 0px;
                    width: 135px;
                    height: 100%;
                    background-image: url('../img/png/sprite.png');
                    background-position: -120px -3px;
                .hands-text
                    width: 503px;
                    position: absolute;
                    right: 0px;
                    padding-left: 45px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    top: 35%;
                    left: 60%;
                    transform: translate(-50%, -50%);
            .run
                position: relative;
                height: 122px;
                .run-ico
                    position: absolute;
                    left: 0px;
                    width: 135px;
                    height: 100%;
                    background-image: url('../img/png/sprite.png');
                    background-position: -245px -6px;
                .run-text
                    width: 503px;
                    position: absolute;
                    right: 0px;
                    padding-left: 45px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 25px;
            .idea
                position: relative;
                height: 122px;
                .idea-ico
                    position: absolute;
                    left: 0px;
                    width: 135px;
                    height: 100%;
                    background-image: url('../img/png/sprite.png');
                    background-position: -360px -6px;
                .idea-text
                    width: 503px;
                    position: absolute;
                    right: 0px;
                    padding-left: 45px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    top: 35%;
                    left: 60%;
                    transform: translate(-50%, -50%);